@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.poppins {
  font-family: 'Poppins', sans-serif;
}

.bg-food {
  background-image: url('/src/assets/food2.jpg');
}

.inter {
  font-family: 'Inter', sans-serif;
}